@import "../../src/styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lb-semantic-color-surface-page);
  color: var(--lb-semantic-color-text-primary);
  font-family: var(--font-albert-sans);
}

.inner {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .inner {
    width: 98%;
  }
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
} 

.project-card-inner {
  filter: saturate(0.3);
  transition: filter 0.5s ease;
}

.project-card-inner:hover {
  filter: saturate(1);
}

.diss-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 600px) {
  .diss-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .deck-columns {
    flex-direction: column;
  }
} 

csswistia-player {
  border-radius: 0 !important;
}

wistia-player::part(container) {
  border-radius: 0 !important;
}